<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup] = 'employeeForm'>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Address">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Phone number">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Organization</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="one">First option</mat-option>
        <mat-option value="one">First option</mat-option>
        <mat-option value="one">First option</mat-option>
        <mat-option value="one">First option</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="example-section">
      <mat-label class="example-margin">Status</mat-label>
      <mat-radio-group formControlName="status">
        <mat-radio-button class="example-margin" value="1">
          Active
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="0">
          Inactive
        </mat-radio-button>
      </mat-radio-group>
    </section>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="createEmployee()">{{action}}</button>
  <button mat-raised-button color="warn" mat-dialog-close="">Cancel</button>
</div>
